body{
  font-family: "proxima-nova", sans-serif;
}

h1{
	font-size: 3em
}

#menu {
	font-size: 1em;
}

.slide {
	text-align: center;
}

.slide img{
	max-width: 50%;
	top: 0;
	position: relative;
}

.hogan {
	font-size: 20em;

}

#homeSplash {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:100%;
  background-color:black;
}

#homeSplash img{
	max-width: 100%;
	max-height: 100%;
}

#homeSplash h1{
	text-align: center;	
	z-index: 100;
	position: absolute;
	font-size: 22em; /*22em full screen*/
	color: rgba(255, 255, 255, 0.90); /*last value is text transparency*/
	width: 100%;

}

#homeSplash a{
	position: absolute;
	top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	width: 100%; 
	height: 100%;
}

#homeSplash {
	cursor:pointer; 
}


